<% content_for :title do %>トップ<% end %>

<% content_for :script do %>

<%
=begin
%>

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// タグを含むHTMLを定義する場合は<script>～</scirpt>の中で変数定義すること
// IE8のevalに不具合があり、コンパイルエラーになってしまうため。
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// evalで実行する箇所のコメントはブロックコメントを使用すること
// IE8のevalに不具合があり、コンパイルエラーになってしまうため。
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<%
=end
%>


<% "// #defined html" %>
var searchForm = '';
<%
=begin
%>
searchForm += '<form name="userserch_form" id="userserch_form">';
searchForm += '<table cellspacing="0" cellpadding="0" border="0" class="search_table">';
searchForm += '<tr>';
searchForm += '<th>ログインID</th><td><input type="text" name="s_login_id" class="width150"></td>';
searchForm += '</tr>';
searchForm += '<tr>';
searchForm += '<th>お名前</th><td><input type="text" name="s_name" class="width150"></td>';
searchForm += '</tr>';
searchForm += '<tr>';
searchForm += '<th>電話</th><td><input type="text" name="s_tel" class="width150"></td>';
searchForm += '</tr>';

searchForm += '<tr>';
searchForm += '<th>メールアドレス</th><td><input type="text" name="s_email" class="width150"></td>';
searchForm += '</tr>';


searchForm += '<th>権限</th><td>'
<% for role in @roles %>
searchForm += '<div style="clear:both"><label><input type="checkbox" name="s_role" value="<%= role.id %>"><%= role.role_name %></label></div>'
<% end %>
searchForm += '</td>'
searchForm += '</tr>';

searchForm += '<tr>';
searchForm += '<th>状態</th><td><label><input type="checkbox" name="s_invalid_flg" value="1" id="s_invalid_flg">無効ユーザーを含める</label></td>';
searchForm += '</tr>';

searchForm += '</table>';
searchForm += '<div class="control">';
searchForm += '<input type="button" id="usersearch_button" value="検索" onclick="showSearchWindow();">';
searchForm += '<input type="button" id="close_button" value="閉じる" onclick="rainy3.hideSubmenu();">';
searchForm += '</div>';
searchForm += '</form>';

var form1 = '<input type="hidden" name="id" value=""><input type="hidden" name="notice" value="false" id="form_user_notice"><input type="text" name="login_id" value="" class="width100" maxlength="<%= Ante::Application.config.user_login_id_max %>">';
var form2 = '<input type="text" name="last_name" value="" class="width75" maxlength="<%= Ante::Application.config.user_last_name_max %>">　<input type="text" name="first_name" value="" class="width75" maxlength="<%= Ante::Application.config.user_first_name_max %>">';
var form3 = '<input type="text" name="tel" value="" class="width200" maxlength="<%= Ante::Application.config.common_tel_max %>">';
var form4 = '<input type="text" name="email" value="" class="width200" maxlength="<%= Ante::Application.config.common_email_max %>">';
var form5 = '<select name="role_id">'
		form5 += '<option value="">お選びください</option>'
		<% for role in @roles %>
		form5 += '<option value="<%= role.id %>"><%= role.role_name %></option>'
		<% end %>
		form5 += '</select>'
var form6 = '<input type="password" name="password" value="" class="width100" maxlength="<%= Ante::Application.config.user_password_max %>">';
var form7 = '<input type="text" name="last_name_kana" value="" class="width75" maxlength="<%= Ante::Application.config.user_last_name_kana_max %>">　<input type="text" name="first_name_kana" value="" class="width75" maxlength="<%= Ante::Application.config.user_first_name_kana_max %>">';


var form7 = '<input type="text" name="last_name_kana" value="" class="width75" maxlength="<%= Ante::Application.config.user_last_name_kana_max %>">　<input type="text" name="first_name_kana" value="" class="width75" maxlength="<%= Ante::Application.config.user_first_name_kana_max %>">';

var form8 = '';
		form8 += '<label><input type="radio" name="invalid_flg" value="false" checked>有効</label>';
		form8+= '<label><input type="radio" name="invalid_flg" value="true">無効</label>';
		form8 += '';
<%
=end
%>

<% "// #defined function" %>
function showSearchWindow(){
	rainy3.getWindow('content2_1').setCondition(app.formParam2jsonData('userserch_form'), false);
	rainy3.getWindow('content2_1').load();
	rainy3.hideSubmenu();
}
<% end %>


<div class="overlay_base_position">
<%= render 'common/pre_load_image' %>

<div id="display_protection"></div>
<img src="img/loading.gif" id="display_loading"/>
<div id="x_contents_resize_border"></div>
<div id="y_contents_resize_border"></div>
<div id="message_window"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="title"></div><div class="message"></div><div class="control"><input type="button" value="OK" class="control_ok" id="message_window_ok"><input type="button" value="CANCEL" class="control_cancel" id="message_window_cancel"></div></div>
<div id="submenu" class="submenu"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="contents"></div></div>
<div><% "// .display_protection" %>
<div id="header" class="frame_width">
<% "// overlayで背後にfocusが回らないようにする入力エリア" %>
<div class="tab_stop_box"><input type="text" name="tab_stop_1" class="tab_stop"></div>


<div class="base_head">
<div style="width:970px;margin-left:auto;margin-right:auto;" class="">
<a href="<%= top_index_path %>"><img src="img/logo.png" class="logo"></a>

<%= render 'common/login_info' %>
</div>

</div>
<div  class="global_menu">

<div class="menu_frame" style="width:615px;">
<img src="/img/bois/global_menu_delim.png">
<a href="javascript:void(0);" onclick="openPowerWindow();return false;"><div><img src="/img/bois/global_menu_1.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
<a href="<%= request_index_path %>"><div><img src="/img/bois/global_menu_2.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
<a href="<%= children_index_path %>"><div><img src="/img/bois/global_menu_3.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
<a href="/"><div><img src="/img/bois/global_menu_4.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
	

</div>
	
	
	
</div>

<%
=begin
%>
<%= render 'common/login_info' %>
<%
=end
%>

</div><% "// #header" %>
<div class="contents_y_space"></div>
<div id="contents">

<% "// コンテンツの折り返しを抑止するために、左右20pxずつのマージンを確保する" %>
<% "// 左margine:20px, 幅：.frame_width-40px;" %>

<div id="left_margin" class="x_content" style="width:5px;position:fixed;">
<div id="left_margin_height" class="y_content" style="height:10px;">

</div><%  "#left_margin_height" %>
</div><%  "#left_margin" %>



<div id="main" class="x_content" style="width:960px;position:fixed;">
<div id="main_topics" class="y_content" style="height:4px;position:fixed;">
<div id="main_topics_body" class="r3base">



<div class="r3control_header">
var header = {
  title:"トピックス",
  title_width:"150",
  controls:[]
}
</div>

<ul class="topics">

<% for result in @results %>

<li><a href="<%= top_topic_path(result[:id]) %>">【<%= result[:category] %>】<%= result[:title] %></a></li>

<% end %>
</ul>
</div><% "// #main_topics_body" %>
</div><% "// #main_topics" %>

<div id="main_menu" class="y_content" style="height:6px;">
<div id="main_menu_body" class="r3base">

<div class="r3control_header">
var header = {
  title:"ご利用メニュー",
  title_width:"150",
  controls:[]
}
</div>

<div class="top_menu top_menu_left"><a href="/"><img src="/img/bois/top_menu_1.png"></a></div>
<div class="top_menu top_menu_right"><a href="/"><img src="/img/bois/top_menu_2.png"></a></div>
<div class="top_menu top_menu_left"><a href="/"><img src="/img/bois/top_menu_3.png"></a></div>
<div class="top_menu top_menu_right"><a href="/"><img src="/img/bois/top_menu_4.png"></a></div>

</div><% "// #main_menu_body" %>
</div><%  "// #main_menu" %>
</div><%  "// #main" %>

<div id="right_margin" class="x_content" style="width:5px;position:fixed;">
<div id="right_margin_height" class="y_content" style="height:10px;">

</div><%  "#right_margin_height" %>
</div><%  "#right_margin" %>

</div><% "// #contents" %>
<div class="contents_y_space"></div>
<div id="footer" class="frame_width">

<% "// overlayで背後にfocusが回らないようにする入力エリア" %>
<div class="tab_stop_box"><input type="text" name="tab_stop_2" class="tab_stop"></div>

</div><% "// #footer" %>
