<% content_for :title do %>トップ<% end %>

<% content_for :script do %>

<%
=begin
%>

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// タグを含むHTMLを定義する場合は<script>～</scirpt>の中で変数定義すること
// IE8のevalに不具合があり、コンパイルエラーになってしまうため。
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// evalで実行する箇所のコメントはブロックコメントを使用すること
// IE8のevalに不具合があり、コンパイルエラーになってしまうため。
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<%
=end
%>

<% "// #defined html" %>

<% "// #defined function" %>

<% end %>


<div class="overlay_base_position">
<%= render 'common/pre_load_image' %>

<div id="display_protection"></div>
<img src="img/loading.gif" id="display_loading"/>
<div id="x_contents_resize_border"></div>
<div id="y_contents_resize_border"></div>
<div id="message_window"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="title"></div><div class="message"></div><div class="control"><input type="button" value="OK" class="control_ok" id="message_window_ok"><input type="button" value="CANCEL" class="control_cancel" id="message_window_cancel"></div></div>
<div id="submenu" class="submenu"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="contents"></div></div>
<div><% "// .display_protection" %>
<div id="header" class="frame_width">
<% "// overlayで背後にfocusが回らないようにする入力エリア" %>
<div class="tab_stop_box"><input type="text" name="tab_stop_1" class="tab_stop"></div>


<div class="base_head">
<div style="width:970px;margin-left:auto;margin-right:auto;" class="">
<a href="<%= top_index_path %>"><img src="img/logo.png" class="logo"></a>

<%= render 'common/login_info' %>
</div>

</div>
<div  class="global_menu">

<div class="menu_frame" style="width:615px;">
<img src="/img/bois/global_menu_delim.png">
<a href="javascript:void(0);" onclick="openPowerWindow();return false;"><div><img src="/img/bois/global_menu_1.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
<a href="<%= request_index_path %>"><div><img src="/img/bois/global_menu_2.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
<a href="<%= children_index_path %>"><div><img src="/img/bois/global_menu_3.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
<a href="/"><div><img src="/img/bois/global_menu_4.png"></div></a>
<img src="/img/bois/global_menu_delim.png">
	

</div>
	
	
	
</div>

<%
=begin
%>
<%= render 'common/login_info' %>
<%
=end
%>

</div><% "// #header" %>
<div class="contents_y_space"></div>
<div id="contents">

<% "// コンテンツの折り返しを抑止するために、左右20pxずつのマージンを確保する" %>
<% "// 左margine:20px, 幅：.frame_width-40px;" %>

<div id="left_margin" class="x_content" style="width:5px;position:fixed;">
<div id="left_margin_height" class="y_content" style="height:10px;">

</div><%  "#left_margin_height" %>
</div><%  "#left_margin" %>



<div id="main" class="x_content" style="width:960px;position:fixed;">
<div id="main_topics" class="y_content" style="height:4px;position:fixed;">
<div id="main_topics_body" class="r3base">



<div class="r3control_header">
var header = {
  title:"省エネにご協力下さい ［お知らせ］",
  title_width:"500",
  controls:[]
}
</div>

<div class="topic_detail">
東日本大地震以降、電力各社での総発電量の低下に伴い、サイトご利用者様にも節電のご協力をお願い致しております。<br />
第1サイト　B1Fでは、ご利用になるお客様がコロケーション内照明の点灯をお願い致します。<br />
※消灯は弊社NOCが対応致します<br />
</div>
<div class="topic_link">
<a href="<%= top_index_path %>">
＜一覧に戻る＞
</a>
</div>


</div><% "// #main_topics_body" %>
</div><% "// #main_topics" %>

</div><%  "// #main" %>

<div id="right_margin" class="x_content" style="width:5px;position:fixed;">
<div id="right_margin_height" class="y_content" style="height:10px;">

</div><%  "#right_margin_height" %>
</div><%  "#right_margin" %>

</div><% "// #contents" %>
<div class="contents_y_space"></div>
<div id="footer" class="frame_width">

<% "// overlayで背後にfocusが回らないようにする入力エリア" %>
<div class="tab_stop_box"><input type="text" name="tab_stop_2" class="tab_stop"></div>

</div><% "// #footer" %>
