<?xml version="1.0" encoding="UTF-8"?>
<rainy3 type="response">
<head>
<result><%= @result %></result>
<title><%= @title %></title>
<message><%= @message %></message>
<forward></forward>
<data_type>form</data_type>
</head>

<body>
<focus><%= r3focus(@validators) %></focus>

<messages>
<%= r3errors(@validators)%>
</messages>

<fields>


<field id="id">
<values>
<value>1</value>
</values>
</field>

<field id="bois_id">
<values>
<value>bbt</value>
</values>
</field>

<field id="user_name">
<values>
<value>株式会社BBT</value>
</values>
</field>

<field id="person_name">
<values>
<value>山田 太郎</value>
</values>
</field>

<field id="mail">
<values>
<value>bbt@bbtower.co.jp</value>
</values>
</field>

<field id="tel">
<values>
<value>090-1111-2222</value>
</values>
</field>

<field id="role">
<values>
<value>1</value>
</values>
</field>

<field id="status">
<values>
<value>true</value>
</values>
</field>

</fields>

</body>

</rainy3>
