<?xml version="1.0" encoding="UTF-8"?>
<rainy3 type="response">
<head>
<result><%= @result %></result>
<title><%= @title %></title>
<message><%= @message %></message>
<forward>http://www.google.com</forward>
<data_type>grid</data_type>


<page_num>1</page_num>
<page_size>10</page_size>
<total_size>10</total_size>
</head>

<body>
<rows>

<% for i in @dummy %>
<row id="<%= i %>">
<bois_id>BBT</bois_id>
<user_name>株式会社ブロードバンドタワ</user_name>
<person_name>山田　太郎</person_name>
<mail>bbt@bbtower.co.jp</mail>
<tel>090-1111-2222</tel>
<role>親</role>
<mod_passwd_date>2013/12/31</mod_passwd_date>
<status>有効</status>
<last_login>2013/12/31</last_login>
<note>備考備考</note>
</row>
<% end %>

</rows>
</body>
</rainy3>
