<% content_for :title do %>電流管理<% end %>

<% content_for :script do %>

<%
=begin
%>

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// タグを含むHTMLを定義する場合は<script>～</scirpt>の中で変数定義すること
// IE8のevalに不具合があり、コンパイルエラーになってしまうため。
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// evalで実行する箇所のコメントはブロックコメントを使用すること
// IE8のevalに不具合があり、コンパイルエラーになってしまうため。
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<%
=end
%>


<% "// #defined html" %>

<% "// #defined function" %>
function execSearch(){
	rainy3.getWindow('right_window_list').setCondition(app.formParam2jsonData('search_form'), false);
	rainy3.getWindow('right_window_list').load();
	rainy3.getWindow('right_window_graph').reset();
}
function execReload(){
	rainy3.getWindow('right_window_list').reload();
	rainy3.getWindow('right_window_graph').reset();
}

<% end %>


<div class="overlay_base_position">
<%= render 'common/pre_load_image' %>

<div id="display_protection"></div>
<img src="img/loading.gif" id="display_loading"/>
<div id="x_contents_resize_border"></div>
<div id="y_contents_resize_border"></div>
<div id="message_window"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="title"></div><div class="message"></div><div class="control"><input type="button" value="OK" class="control_ok" id="message_window_ok"><input type="button" value="CANCEL" class="control_cancel" id="message_window_cancel"></div></div>
<div id="submenu" class="submenu"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="contents"></div></div>
<div><% "// .display_protection" %>
<div id="header" class="frame_width power_header" style="height:20px;">
<% "// overlayで背後にfocusが回らないようにする入力エリア" %>
<div class="tab_stop_box"><input type="text" name="tab_stop_1" class="tab_stop"></div>


<div class="base_head" style="height:20px;line-height:30px;">
<img src="img/bois/power_logo.png">
</div>

<%
=begin
%>
<%= render 'common/login_info' %>
<%
=end
%>

</div><% "// #header" %>
<div class="contents_y_space"></div>
<div id="contents">

<% "// コンテンツの折り返しを抑止するために、左右20pxずつのマージンを確保する" %>
<% "// 左margine:20px, 幅：.frame_width-40px;" %>

<div id="left_window" class="x_content" style="width:310px;">
<div id="left_window_search" class="y_content" style="height:10px;">
<div id="left_window_search_body" class="r3base">
<div class="r3control_header">
var header = {
  title:"ラック選択",
  title_width:"100",
  controls:[
  		{id:'search', label:'表示', icon:'img/small_icon/search.png', disabledicon:'img/small_icon/search_disabled.png', click:function(){execSearch()}, submenu:null, initdisable:false}
  ]
}
</div>
<form name="search_form" id="search_form">
<input type="hidden" name="search" value="true">
<table cellspacing="0" cellpadding="0" border="0" class="power_condition" width="280px;">
<tr>
<th width="100">第一サイト</th>
<td>
	<ul class="li_width50">
	<li><label><input type="checkbox" name="floor1" value="3"><span>3F</span></label></li>
	<li><label><input type="checkbox" name="floor1" value="4"><span>4F</span></label></li>
	<li><label><input type="checkbox" name="floor1" value="5"><span>5F</span></label></li>
	<li><label><input type="checkbox" name="floor1" value="15"><span>15F</span></label></li>
	</ul>
</td>
</tr>

<tr>
<th width="100">第二サイト</th>
<td>
	<ul class="li_width75">
	<li><label><input type="checkbox" name="floor2" value="t1-4"><span>T1-4F</span></label></li>
	<li><label><input type="checkbox" name="floor2" value="t1-5"><span>T1-5F</span></label></li>
	<li><label><input type="checkbox" name="floor2" value="t1-6"><span>T1-5F</span></label></li>
	<li><label><input type="checkbox" name="floor2" value="t1-7"><span>T1-6F</span></label></li>
	</ul>
</td>
</tr>

<tr>
<th width="100">関西サイト</th>
<td>
	<ul class="li_width50">
	<li><label><input type="checkbox" name="floor3" value="3"><span>3F</span></label></li>
	<li><label><input type="checkbox" name="floor3" value="4"><span>4F</span></label></li>
	<li><label><input type="checkbox" name="floor3" value="5"><span>5F</span></label></li>
	<li><label><input type="checkbox" name="floor3" value="15"><span>15F</span></label></li>
	</ul>
</td>
</tr>

<tr>
<th width="100">SMDC</th>
<td>
	<ul class="li_width50">
	<li><label><input type="checkbox" name="floor4" value="A"><span>A</span></label></li>
	<li><label><input type="checkbox" name="floor4" value="B"><span>B</span></label></li>
	<li><label><input type="checkbox" name="floor4" value="C"><span>C</span></label></li>
	<li><label><input type="checkbox" name="floor4" value="D"><span>D</span></label></li>
	</ul>
</td>
</tr>
</table>

<a href="javascript:void(0);" class="power_select_1">SELECT ALL</a>
<div class="power_select">
<ul>
<li><label><input type="checkbox" name="power" value="1"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="2"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="3"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="4"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="5"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="6"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="7"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="8"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="9"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="10"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="11"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="12"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="13"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="14"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="15"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="16"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="17"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="1"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="2"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="3"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="4"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="5"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="6"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="7"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="8"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="9"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="10"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="11"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="12"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="13"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="14"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="15"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="16"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="17"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="1"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="2"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="3"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="4"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="5"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="6"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="7"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="8"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="9"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="10"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="11"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="12"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="13"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="14"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="15"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="16"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="17"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="1"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="2"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="3"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="4"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="5"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="6"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="7"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="8"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="9"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="10"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="11"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="12"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="13"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="14"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="15"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="16"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="17"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="1"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="2"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="3"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="4"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="5"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="6"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="7"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="8"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="9"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="10"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="11"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="12"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="13"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="14"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="15"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="16"><span>Ad-05</span></label></li>
<li><label><input type="checkbox" name="power" value="17"><span>Ad-05</span></label></li>
</ul>
</div>
<a href="javascript:void(0);" class="power_select_2">SELECT ALL</a>
</form>

</div>

</div><%  "#left_window_search_body" %>
</div><%  "#left_window_search" %>

<div id="right_window" class="x_content" style="width:5px;">
<div id="right_window_list" class="y_content" style="height:5px;">
<div id="right_window_list_body" class="r3grid">
<div class="r3control_header">
var header = {
  title:"電流値一覧　|　ラック数:748/748　|　回路数:1583/1583",
  title_width:"380",
  controls:[
<%
=begin
%>
  		{id:'info', label:'情報', icon:'img/small_icon/search.png', disabledicon:'img/small_icon/search_disabled.png', click:null, submenu:null, initdisable:false},
<%
=end
%>
  		{id:'reload', label:'リロード', icon:'img/small_icon/term.png', disabledicon:'img/small_icon/term_disabled.png', click:function(){execReload()}, submenu:null, initdisable:false},
  		{id:'export', label:'エクスポート', icon:'img/small_icon/export.png', disabledicon:'img/small_icon/export_disabled.png', click:null, submenu:null, initdisable:false}
  ]
}
</div>
var grid = 
{
	url:'<%= power_list_path %>',
	select:'single',
	initload:false,
	initsort:'customer_name',
	initdirection:'asc',
	loadaction:function(){},
	selectaction:function(id){
		rainy3.getWindow('right_window_graph').load();
	},
	deselectaction:function(id){
		rainy3.getWindow('right_window_graph').reset();
	},
	props:[
				{id:'customer_name', 			label:'顧客名',					width:'100',	postion:'left',		sortable:true},
				{id:'site',								label:'サイト名',				width:'100',	postion:'left',		sortable:true},
				{id:'floor', 							label:'フロア名',				width:'100',	postion:'left',		sortable:true},
				{id:'rack', 							label:'ラック名',				width:'100',	postion:'left',		sortable:true},
				{id:'circuit',						label:'回路名',					width:'70',	postion:'left',		sortable:true},
				{id:'voltage',						label:'定格電圧',				width:'70',		postion:'left',		sortable:true},
				{id:'currenta',						label:'定格電流',				width:'70',		postion:'left',		sortable:true},
				{id:'measured',						label:'測定値',					width:'70',		postion:'left',		sortable:true},
				{id:'min',								label:'最小(24h)',			width:'70',		postion:'left',		sortable:true},
				{id:'max',								label:'最大(24h)',			width:'70',		postion:'left',		sortable:true},
				{id:'ave',								label:'平均(24h)',			width:'70',		postion:'left',		sortable:true}
			]
			,
	initcondition:{
		search:['false']
	}
}
<div class="r3paging_footer"></div>

</div><%  "#right_window_list_body" %>
</div><%  "#right_window_list" %>

<div id="right_window_graph" class="y_content" style="height:5px;">
<div id="right_window_graph_body" class="r3image">
<div class="r3control_header">
var header = {
  title:"電流値グラフ",
  title_width:"150",
  controls:[]
}
</div>

var image={
	url:'<%= power_graph_path %>',
	loadaction:function(){},
	unloadaction:function(){}
}
</div><%  "#right_window_graph_body" %>
</div><%  "#right_window_graph" %>
</div><%  "#right_window" %>

</div><% "// #contents" %>
<div class="contents_y_space"></div>
<div id="footer" class="frame_width">

<% "// overlayで背後にfocusが回らないようにする入力エリア" %>
<div class="tab_stop_box"><input type="text" name="tab_stop_2" class="tab_stop"></div>

</div><% "// #footer" %>
