<?xml version="1.0" encoding="UTF-8"?>
<rainy3 type="response">
<head>
<result><%= @result %></result>
<title><%= @title %></title>
<message><%= @message %></message>
<forward>http://www.google.com</forward>
<data_type>grid</data_type>


<page_num>1</page_num>
<page_size>10</page_size>
<total_size>10</total_size>
</head>

<body>
<rows>

<% for i in @dummy %>
<row id="<%= i %>">

<customer_name>ヤフー</customer_name>

<site>第1サイト</site>
<floor>3F</floor>
<ruck>Ad-05</ruck>
<circuit>M-1</circuit>
<voltage>AC100V</voltage>
<currenta>20A</currenta>
<measured>11.8A</measured>
<min>1.1A</min>
<max>3.2A</max>
<ave>1.5A</ave>

</row>
<% end %>


</rows>
</body>
</rainy3>
