div.topics_head{
	height:34px;
	background-image:url('../img/bois/topics_bg.png');
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	border:solid 1px #ccc;
	line-height:34px;
	font-size:16px;
	padding-left:10px;
	margin-bottom:0px;
}

div.global_menu div.menu_frame{
	margin-left:auto;
	margin-right:auto;
	width:600px;
	overflow:auto;
}

div.global_menu div.menu_frame img{
	float:left;
}

div.global_menu div.menu_frame a div{
	line-height:45px;
	color:#fff;
	width:150px;
	text-align:center;
	float:left;
	font-size:12px;
}

div.global_menu div.menu_frame a.selected div{
	background-image:url(../img/bois/global_menu_hover_bg.png)
}

div.global_menu div.menu_frame a:hover div{
	background-image:url(../img/bois/global_menu_hover_bg.png)
}

div.topics_body{
	margin-left:30px;
	margin-right:30px;
	height:200px;
	overflow:auto;
	background-color:#fff;
	margin-top:5px;
}

ul.topics{
	list-style-type:disc;
}

ul.topics li{
	line-height:30px;
	margin-left:30px;
	list-style-type:disc;
}

div.top_menu{
	position: relative;
	height: 100px;
	width: 400px;
	float:left;
	margin-top:25px;
}

div.top_menu_left{
	margin-left:62px;
}

div.top_menu_right{
	margin-left:25px
}


div.top_menu a img{
	position: absolute;
	top:-0px;
	clip:rect(0px 400px 100px 0px);
}

div.top_menu a:hover img{
	position: absolute;
	top:-100px;
	clip:rect(100px 400px 200px 0px);
}

table.request_form{
	margin-top:20px;
	margin-left:40px;
	margin-right:40px;
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
}

table.request_form th{
	padding:5px;
	padding-top:8px;
	padding-bottom:8px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	width:300px;
	background-color:#f5f5f5;
}

table.request_form td{
	padding:5px;
	padding-top:8px;
	padding-bottom:8px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}

table.request_form td input[type=text]{
	width:400px;;
}

table.request_form td textarea{
	height:100px;
	width:400px;
}


table.power_condition{
	margin-top:10px;
	margin-left:10px;
	border-top:solid 1px #999;
	border-left:solid 1px #999;
	
}

table.power_condition th, table.power_condition td{
	text-align:left;
	background-color:#eee;
	border-bottom:solid 1px #999;
	border-right:solid 1px #999;
	padding:3px;
}

table.power_condition td{
	background-color:#fff;
}


table.power_condition td ul li{
	display:block;
	float:left;
	width:50px;
}

table.power_condition td ul li span{
	margin-left:3px;
}

table.power_condition td ul.li_width50 li{
	width:50px;
}

table.power_condition td ul.li_width75 li{
	width:75px;
}

table.power_condition td ul.li_width100 li{
	width:100px;
}

a.power_select_1{
	display:block;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:3px;
}

a.power_select_2{
	display:block;
	margin-bottom:10px;
	margin-left:10px;
	margin-top:3px;
}

div.power_select{
	width:272px;
	border:solid 1px #999;
	margin-left:10px;
	padding:3px;
	overflow:auto;
}

div.power_select ul{
	list-style-type:none;
}

div.power_select ul li{
	display:block;
	float:left;
	list-style-type:none;
	padding-right:20px;
}

div.power_select ul li span{
	margin-left:3px;
}

div.topic_detail{
	margin-top:10px;
	margin-left:10px;
}


div.topic_link{
	margin-top:20px;
	margin-left:10px;
	width:960px;
	text-align:center;
	font-size:15px;
}

div.topic_link a{
	font-size:15px;
}