@charset "utf-8";

div.hours_picker_pos{
	position:relative;
}

div.hours_picker_pos div.time_frame{
	position:absolute;
	display:none;
}

div.hours_picker_pos div.time_frame div.time_top{
	width:180px;
	height:7px;
	background-image:url('../img/hours.picker/bg_top.png');
}


div.hours_picker_pos div.time_frame div.time_body{
	padding-left:8px;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url('../img/hours.picker/bg.png');
}

div.hours_picker_pos div.time_frame div.time_bottom{
	width:180px;
	height:7px;
	background-image:url('../img/hours.picker/bg_bottom.png');
}

div.hours_picker_pos div.time_frame div.time_hours{
	width:164px;
	height:80px;
	overflow:auto;
}

div.hours_picker_pos div.time_frame a{
	color:#000;
}

div.hours_picker_pos div.time_frame div.box{
	width:36px;
	height:22px;
	line-height:22px;
	border-bottom:solid 0px #6583A8;
	border-right:solid 0px #6583A8;
	float:left;
	text-align:center;
	font-size:10px;
	color:#000;
}

div.hours_picker_pos div.time_frame div.box_sel{
	background-image:url('../img/hours.picker/day_box_bk.png');
}

div.hours_picker_pos div.time_frame a:hover div.box_sel{
	background-image:url('../img/hours.picker/day_box_hover_bk.png');
}

div.hours_picker_pos div.time_frame div.box_selected{
	background-image:url('../img/hours.picker/day_box_selected_bk.png');
}

div.hours_picker_pos div.time_frame a:hover div.box_selected{
	background-image:url('../img/hours.picker/day_box_selected_hover_bk.png');
}


