@charset "utf-8";

#header{
	height:60px;
	background-image:url('../img/login/bg_header.png');
}

div.login_box{
	width:320px;
	height:350px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	background-image:url('../img/login/login_box.png');
}


div.login_box div.logo{
	width:100%;
	height:90px;
	text-align:center;
}

div.login_box div.logo img{
	margin-top:35px;
}


div.login_box div.message{
	width:100%;
	height:20px;
	font-size:12px;
	color:#f88;
	text-align:center;
	font-weight:bold;
}



div.login_box div.input{
	width:100%;
	height:40px;
}

div.login_box div.input div.label{
	width:140px;
	float:left;
}

div.login_box div.input div.label img{
	margin-left:30px;
	margin-top:8px;
}
div.login_box div.input div.field{
	float:left;
}

div.login_box div.input div.field input{
	padding:5px;
	width:140px;
}

div.login_box div.auto_login{
	width:100%;
	height:40px;
	text-align:center;
	color:#fff;
}

div.login_box div.auto_login table{
	margin-top:0px;
}

div.login_box div.auto_login table td.check{
	width:100px;
	font-size:16px;
	padding:0px;
	text-align:right;
}

div.login_box div.auto_login table td.check input{
	margin-top:4px;
	margin-right:8px;
}

div.login_box div.auto_login table td.label{
	font-size:14px;
	padding:0px;
}

div.login_box div.auto_login table td.label label{
	font-size:14px;
	color:#eee;
}

div.login_box div.control{
	width:100%;
	height:70px;
	text-align:center;
}

div.login_box div.control input{
	width:180px;
	height:50px;
	font-size:16px;
}

div.login_box div.blank{
	width:100%;
	height:20px;
}

div.login_box div.copyright{
	width:100%;
	height:20px;
	font-size:14px;
	color:#eee;
	text-align:center;
}

#footer{
	height:40px;
	background-image:url('../img/login/bg_footer.png');
}


