@charset "utf-8";

div.monthly_picker_pos{
	position:relative;
}

div.monthly_picker_pos div.calendar_frame{
	position:absolute;
	display:none;
}

div.monthly_picker_pos div.calendar_frame div.calendar_top{
	width:172px;
	height:7px;
	background-image:url('../img/monthly.picker/bg_top.png');
}


div.monthly_picker_pos div.calendar_frame div.calendar_body{
	padding-left:8px;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url('../img/monthly.picker/bg.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_bottom{
	width:172px;
	height:7px;
	background-image:url('../img/monthly.picker/bg_bottom.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_navi{
	padding-top:3px;
	padding-bottom:3px;
	overflow:auto;
}

div.monthly_picker_pos div.calendar_frame div.calendar_navi div.l_arrow{
	float:left;
	width:30px;
	text-align:center;
	cursor:pointer;
	padding-top:1px;
}
div.monthly_picker_pos div.calendar_frame div.calendar_navi div.label{
	float:left;
	width:96px;
	text-align:center;
	color:#fff;
}
div.monthly_picker_pos div.calendar_frame div.calendar_navi div.r_arrow{
	float:left;
	width:30px;
	text-align:center;
	cursor:pointer;
	padding-top:1px;
}

div.monthly_picker_pos div.calendar_frame div.calendar_days{
	width:156px;
	overflow:auto;
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.week_label{
	float:left;
	color:#fff;
	width:26px;
	text-align:center;
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.sunday{
	color:#faa;
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.saturday{
	color:#aaf;
}


div.monthly_picker_pos div.calendar_frame div.calendar_days a{
	color:#000;
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.day_box{
	width:26px;
	height:22px;
	line-height:22px;
	border-bottom:solid 0px #6583A8;
	border-right:solid 0px #6583A8;
	float:left;
	text-align:center;
	font-size:10px;
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.day_box_sel{
	background-image:url('../img/monthly.picker/day_box_bk.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_days a:hover div.day_box_sel{
	background-image:url('../img/monthly.picker/day_box_hover_bk.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.day_box_current{
	background-image:url('../img/monthly.picker/day_box_current_bk.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_days a:hover div.day_box_current{
	background-image:url('../img/monthly.picker/day_box_current_hover_bk.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_days div.day_box_selected{
	background-image:url('../img/monthly.picker/day_box_selected_bk.png');
}

div.monthly_picker_pos div.calendar_frame div.calendar_days a:hover div.day_box_selected{
	background-image:url('../img/monthly.picker/day_box_selected_hover_bk.png');
}

