@charset "utf-8";

div.order_picker_pos{
	position:relative;
}

div.order_picker_pos div.order_frame{
	position:absolute;
	display:none;
}

div.order_picker_pos div.order_frame div.order_top{
	width:216px;
	height:7px;
	background-image:url('../img/order.picker/bg_top.png');
}


div.order_picker_pos div.order_frame div.order_body{
	padding-left:8px;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url('../img/order.picker/bg.png');
}

div.order_picker_pos div.order_frame div.order_bottom{
	width:216px;
	height:7px;
	background-image:url('../img/order.picker/bg_bottom.png');
}





div.order_picker_pos div.order_frame div.order_order{
	width:200px;
	height:80px;
	overflow:auto;
}

div.order_picker_pos div.order_frame a{
	color:#000;
}

div.order_picker_pos div.order_frame div.box{
	width:36px;
	height:22px;
	line-height:22px;
	border-bottom:solid 0px #6583A8;
	border-right:solid 0px #6583A8;
	float:left;
	text-align:center;
	font-size:10px;
	color:#000;
}

div.order_picker_pos div.order_frame div.box_sel{
	background-image:url('../img/order.picker/day_box_bk.png');
}

div.order_picker_pos div.order_frame a:hover div.box_sel{
	background-image:url('../img/order.picker/day_box_hover_bk.png');
}

div.order_picker_pos div.order_frame div.box_selected{
	background-image:url('../img/order.picker/day_box_selected_bk.png');
}

div.order_picker_pos div.order_frame a:hover div.box_selected{
	background-image:url('../img/order.picker/day_box_selected_hover_bk.png');
}

div.order_picker_pos div.order_frame div.order_label div.box{
	width:90px;
	height:22px;
	line-height:22px;
	border-bottom:solid 0px #6583A8;
	border-right:solid 0px #6583A8;
	float:left;
	text-align:center;
	font-size:10px;
	color:#000;
	margin-bottom:3px;
}

div.order_picker_pos div.order_frame div.order_label div.box_sel{
	background-image:url('../img/order.picker/day_box_label_bk.png');
}

div.order_picker_pos div.order_frame div.order_label a:hover div.box_sel{
	background-image:url('../img/order.picker/day_box_label_hover_bk.png');
}
