@charset "utf-8";

*{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family: sans-serif; 
}

body{
	background-color:#eee;
	/* 画面サイズがmin-widthとmin-heightを上回った場合のみ、有効にする */
}

/*-- general definition--*/
img{
	border:none;
}

input[type="text"]{
	padding:2px;
}

input[type="text"]:disabled{
	color:#252525;
}

input[type="password"]{
	padding:2px;
}

textarea{
	padding:2px;
	resize: none;
}

select{
	padding:2px;
}

.width25{
	width:25px;
}

.width30{
	width:30px;
}

.width35{
	width:35px;
}

.width50{
	width:50px;
}

.width75{
	width:75px;
}

.width100{
	width:100px;
}

.width125{
	width:125px;
}

.width135{
	width:135px;
}

.width150{
	width:150px;
}


.width200{
	width:200px;
}

.width250{
	width:250px;
}

.width300{
	width:300px;
}

.width350{
	width:350px;
}

.width400{
	width:400px;
}


input[type="button"], input[type="submit"]{
	padding:5px;
	padding-left:20px;
	padding-right:20px;
	background-image:url('../img/button/button1.png');
	background-position:center center;
	border-top:solid 1px #999;
	border-left:solid 1px #999;
	border-bottom:solid 1px #555;
	border-right:solid 1px #555;
	margin:5px;
	cursor:pointer;
}

input[type="button"].hover, input[type="submit"].hover{
	background-image:url('../img/button/button1_hover.png');
	border-top:solid 1px #bbb;
	border-left:solid 1px #bbb;
	border-bottom:solid 1px #777;
	border-right:solid 1px #777;
}


input[type="button"].click, input[type="submit"].click{
	background-image:url('../img/button/button1_click.png');
	border-top:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #888;
	border-right:solid 1px #888;
}


/*-- rainy3 layout definition--*/
#header{
	background-color:#fff;
	height:100px; /* 51 + 49 px*/
/*
	background-image:url('../img/bg_header.png');
*/
}

#header .base_head{
	background-color:#eee;
	height:51px;
}

#header .global_menu{
	height:49px;
	background-image:url('../img/bg_global_menu.png');
}

#header img.logo{
	float:left;
}

#header div.function_label_l{
	margin-top:6px;
	margin-left:30px;
	float:left;
	width:4px;
	background-image:url('../img/function_label_l.png');
	height:24px;
	width:4px;
}

#header div.function_label{
	padding-left:10px;
	line-height:24px;
	height:24px;
	color:#fff;
	font-size:13px;
	float:left;
	font-weight:bold;
	margin-left:0px;
	width:400px;
	margin-top:6px;
	background-image:url('../img/function_label_c.png');
	color:#333;
	font-weight:normal;
	font-weight:bold;
}
#header div.function_label_r{
	margin-top:6px;
	margin-left:0px;
	float:left;
	width:4px;
	background-image:url('../img/function_label_r.png');
	height:24px;
	width:4px;
}

#header div.setting_information{
	float:right;
	height:100%;
	margin-right:15px;
	color:#e7e7e7;
}

#header div.setting_information div.setting_label{
	float:left;
	line-height:36px;
	margin-right:10px;
	font-weight:normal;
}

#header div.setting_information a div.setting_icon{
	background-image:url('../img/setting.png');
	margin-top:6px;
	width:24px;
	height:24px;
	float:left;
}

#header div.setting_information a:hover div.setting_icon{
	background-image:url('../img/setting_hover.png');
}


#contents{
	height:200px;
	margin-left:20px;
}

.contents_y_space{
	height:8px;
}

#contents .x_content{
	float:left;
}

#contents .x_content_delim{
	float:left;
	width:7px;
	cursor:col-resize;
	background-image:url('../img/x_content_border.png');
	background-repeat:no-repeat;
	background-position:center center;
}

#contents .x_content_delim_fixed{
	float:left;
	width:7px;
}

#contents .y_content_delim{
	height:7px;
	cursor:row-resize;
	background-image:url('../img/y_content_border_160.png');
	background-repeat:no-repeat;
	background-position:center center;
}


#contents .y_content_delim_80{
	background-image:url('../img/y_content_border_80.png');
}

#contents .y_content_delim_25{
	background-image:url('../img/y_content_border_25.png');
}


#contents .y_content_delim_fixed{
	height:7px;
}

#footer{
	background-color:#B62F29;
	height:6px;
	display:none;
}


/*-- overlay --*/
.overlay_base_position{
	position:relative;
}

.pre_image_load{
	position:absolute;
	top:-999px;
	left:-999px;;
}

#display_protection{
	position:absolute;
	top:0px;
	left:0px;
	background-image:url('../img/blank.png');
	z-index:3000;
}

#display_protection.white{
	background-color:#fff;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

#display_protection.black{
	background-color:#000;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

#display_protection.clear{
	background-color:#000;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

#display_loading{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:3001;
	border:solid 1px #999;
}

#x_contents_resize_border{
	position:absolute;
	left:0x;
	top:0px;
	display:none;
	background-color:#333;
	filter: alpha(opacity = 40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	width:5px;
	z-index:4000;
	cursor:col-resize;
}

#y_contents_resize_border{
	position:absolute;
	left:0x;
	top:0px;
	display:none;
	background-color:#333;
	filter: alpha(opacity = 40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	height:5px;
	z-index:4000;
	cursor:row-resize;
}

#message_window{
	position:absolute;
	left:0x;
	top:0px;
	display:none;
	padding:15px;
	z-index:4000;
}

#message_window .title{
	padding:20px;
	padding-bottom:5px;
	background-color:#f4f4f4;
	font-size:16px;
	line-height:2.0em;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#message_window .message{
	padding:20px;
	padding-top:0px;
	background-color:#f4f4f4;
	font-size:14px;
	line-height:1.5em;
}

#message_window .control{
	background-color:#f4f4f4;
	text-align:center;
	padding-bottom:22px;
}

#message_window .frame{
	position:absolute;
	top:0px;
	left:0px;
	height:15px;
	width:15px;
}
#message_window .lt{
	background-image:url('../img/window_message/window_message_lt.png');
}
#message_window .ll{
	background-image:url('../img/window_message/window_message_ll.png');
}
#message_window .lb{
	background-image:url('../img/window_message/window_message_lb.png');
}

#message_window .tt{
	background-image:url('../img/window_message/window_message_tt.png');
}
#message_window .bb{
	background-image:url('../img/window_message/window_message_bb.png');
}

#message_window .rt{
	background-image:url('../img/window_message/window_message_rt.png');
}
#message_window .rr{
	background-image:url('../img/window_message/window_message_rr.png');
}
#message_window .rb{
	background-image:url('../img/window_message/window_message_rb.png');
}
#message_window table.form{
	margin-top:0px;
	margin-bottom:10px;
}

#message_window table.form th{
	font-size:14px;
	padding:1px;
}

#message_window table.form td{
	font-size:14px;
	padding:1px;
}

#message_window table.form td.attention{
	color:red;
	height:24px;
	line-height:24px;
	vertical-align:top;
}

#message_window table.form td.attention p{
	font-size:14px;
}


/*-- submenu --*/
#submenu{
	position:absolute;
	padding:7px;
	display:none;
	top:200px;
	left:200px;
	z-index:4000;
}

#submenu .contents{
	background-image:url('../img/submenu/submenu_cc.png');
	color:#fff;
	padding:10px;
	overflow:auto;
	height:100px;
	width:100px;
}

#submenu .contents .control{
	text-align:center;
	padding-top:10px;
}

#submenu .frame{
	position:absolute;
	top:0px;
	left:0px;
	height:7px;
	width:7px;
}

#submenu .lt{
	background-image:url('../img/submenu/submenu_lt.png');
}
#submenu .ll{
	background-image:url('../img/submenu/submenu_ll.png');
}
#submenu .lb{
	background-image:url('../img/submenu/submenu_lb.png');
}

#submenu .tt{
	background-image:url('../img/submenu/submenu_tt.png');
}
#submenu .bb{
	background-image:url('../img/submenu/submenu_bb.png');
}

#submenu .rt{
	background-image:url('../img/submenu/submenu_rt.png');
}
#submenu .rr{
	background-image:url('../img/submenu/submenu_rr.png');
}
#submenu .rb{
	background-image:url('../img/submenu/submenu_rb.png');
}

#submenu table.search_table{
	font-size:14px;
}

#submenu table.search_table tr{
}

#submenu table.search_table th{
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:4px;
	line-height:14px;
	text-align:left;
	font-weight:normal;
}

#submenu table.search_table td{
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:4px;
	line-height:14px;
	text-align:left;
	font-weight:normal;
}

#submenu table.search_table td input[type="text"]{}

#submenu table.search_table td input[type="password"]{}

#submenu table.search_table td input[type="file"]{}

#submenu table.search_table td input[type="textarea"]{}

#submenu table.search_table td input[type="select"]{}

#submenu table.search_table td textarea{}

#submenu table.search_table td select{}

#submenu table.search_table td input[type="checkbox"]{
	margin-right:5px;
}

#submenu table.search_table td input[type="radio"]{
	margin-right:5px;
}

#submenu table.search_table td label{
	padding-right:8px;
	display:block;
	float:left;
}

#submenu table.search_table td label.block25{
	float:left;
	width:25px;
	display:block;
}
#submenu table.search_table td label.block35{
	float:left;
	width:35px;
	display:block;
}

#submenu table.search_table td label.block50{
	float:left;
	width:50px;
	display:block;
}
#submenu table.search_table td label.block65{
	float:left;
	width:65px;
	display:block;
}
#submenu table.search_table td label.block75{
	float:left;
	width:75px;
	display:block;
}
#submenu table.search_table td label.block100{
	float:left;
	width:100px;
	display:block;
}
#submenu table.search_table td label.block150{
	float:left;
	width:150px;
	display:block;
}

#submenu table.search_table td label.block200{
	float:left;
	width:200px;
	display:block;
}

#submenu table.search_table td label.block230{
	float:left;
	width:230px;
	display:block;
}




div.tab_stop_box{
	width:2px;
	height:2px;
	float:left;
}

input.tab_stop{
	display:none;
	border:none;
	width:1px;
	height:1px;
	background-color:transparent;
	border:none;
	padding:0px;
}


/*-- conotents-area --*/


/*-- header --*/
.content_header{
	border-left:solid 1px #999;
	border-top:solid 1px #999;
	border-right:solid 1px #999;
	border-bottom:solid 0px #999;
	background-image:url('../img/bois/bg_content_header.png');
	height:30px;
	overflow:hidden;
	font-weight:bold;
	color:#000;
	line-height:30px;
	padding-left:5px;
	padding-right:5px;
}

/*-- header title --*/
.content_header div.title{
	float:left;
}


.content_header div.delim_l{
	float:left;
	width:1px;
	height:22px;
	margin-top:5px;
	margin-left:5px;
	background-color:#888;
}
.content_header div.delim_r{
	float:left;
	width:1px;
	height:22px;
	margin-top:5px;
	background-color:#fff;
	margin-right:5px;
	filter: alpha(opacity = 25);
	-moz-opacity: 0.25;
	opacity: 0.25;
}

/*-- header button --*/
.content_header a.control{
	color:#000;
}

.content_header a.control:link {
	color:#000;
}

.content_header a.control:visited {
	color:#000;
}

.content_header a.control:hover {
	color:#000;
}

.content_header a.control:active  {
	color:#000;
}

.content_header a.control div.control_button{
	position:relative;
	float:left;
	padding-left:5px;
	padding-right:5px;
}

.content_header a.control div.control_button img{
	float:left;
	margin-right:2px;
}

.content_header a.control div.control_button span{
}


/*-- header button frame --*/

.content_header a.control div.control_button div.l{
	position:
	absolute;
	width:1px;
	top:5px;left:0px;
	background-color:#aaa;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	
}

.content_header a.control div.control_button div.t{
	position:absolute;
	height:1px;
	top:4px;
	left:1px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.r{
	position:absolute;
	width:1px;
	top:5px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.b{
	position:absolute;
	left:1px;
	height:1px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.il{
	position:absolute;
	width:1px;
	top:6px;
	left:1px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.it{
	position:absolute;
	height:1px;
	top:5px;
	left:2px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.ir{
	position:absolute;
	width:1px;
	top:6px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.ib{
	position:absolute;
	height:1px;
	left:2px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;

}

.content_header a.control div.control_button div.lt{
	position:absolute;
	width:1px;height:1px;
	top:5px;left:1px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.rt{
	position:absolute;
	width:1px;
	height:1px;
	top:5px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.lb{
	position:absolute;
	width:1px;
	height:1px;
	left:1px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.rb{
	position:absolute;
	width:1px;
	height:1px;
	background-color:#999;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}


.content_header a.control div.control_button div.ilt{
	position:absolute;
	width:1px;
	height:1px;
	top:6px;
	left:2px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.control div.control_button div.irt{
	position:absolute;
	width:1px;
	height:1px;
	top:6px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.ilb{
	position:absolute;
	width:1px;
	height:1px;
	left:2px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.irb{
	position:absolute;
	width:1px;
	height:1px;
	background-color:#bbb;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.bg{
	position:absolute;
	top:3px;
	left:1px;
	background-color:white;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.control div.control_button div.label{
	position:absolute;
	z-index:1003
}


/*-- header button disabled --*/
.content_header a.disabled{
	color:#5c6875;
	cursor:default;
}

.content_header a.disabled:link {
	color:#5c6875;
	cursor:default;
}

.content_header a.disabled:visited {
	color:#5c6875;
	cursor:default;
}

.content_header a.disabled:hover {
	color:#5c6875;
	cursor:default;
}

.content_header a.disabled:active  {
	color:#5c6875;
	cursor:default;
}

.content_header a.disabled div.control_button{
	position:relative;
	float:left;
	padding-left:5px;
	padding-right:5px;
}

.content_header a.disabled div.control_button img{
	float:left;
	margin-right:2px;
}

.content_header a.disabled div.control_button span{
}

/*-- header button disabled frame --*/
.content_header a.disabled div.control_button div.l{
	position:
	absolute;
	width:1px;
	top:3px;left:0px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	
}

.content_header a.disabled div.control_button div.t{
	position:absolute;
	height:1px;
	top:2px;
	left:1px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.r{
	position:absolute;
	width:1px;
	top:3px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.b{
	position:absolute;
	left:1px;
	height:1px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.il{
	position:absolute;
	width:1px;
	top:4px;
	left:1px;
	background-color:white;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.it{
	position:absolute;
	height:1px;top:3px;
	left:2px;
	background-color:white;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.ir{
	position:absolute;
	width:1px;
	top:4px;
	background-color:white;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.ib{
	position:absolute;
	height:1px;
	left:2px;
	background-color:white;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;

}

.content_header a.disabled div.control_button div.lt{
	position:absolute;
	width:1px;height:1px;
	top:3px;left:1px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.rt{
	position:absolute;
	width:1px;
	height:1px;
	top:3px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.lb{
	position:absolute;
	width:1px;
	height:1px;
	left:1px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.rb{
	position:absolute;
	width:1px;
	height:1px;
	background-color:#42699e;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}


.content_header a.disabled div.control_button div.ilt{
	position:absolute;
	width:1px;
	height:1px;
	top:4px;
	left:2px;
	background-color:#fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
}

.content_header a.disabled div.control_button div.irt{
	position:absolute;
	width:1px;
	height:1px;
	top:4px;
	background-color:#fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.ilb{
	position:absolute;
	width:1px;
	height:1px;
	left:2px;
	background-color:#fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.irb{
	position:absolute;
	width:1px;
	height:1px;
	background-color:#fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.bg{
	position:absolute;
	top:3px;
	left:1px;
	background-color:white;
	filter: alpha(opacity = 0);
	-moz-opacity: 0.0;
	opacity: 0.0;
	z-index:1000;
}

.content_header a.disabled div.control_button div.label{
	position:absolute;
	z-index:1003
}



/*-- hover --*/


.content_header a.control:hover div.control_button{
	position:relative;
	float:left;
	padding-left:5px;
	padding-right:5px;
}

.content_header a.control:hover div.control_button img{
	float:left;
	margin-right:2px;
/*	z-index:1002 */
}

.content_header a.control:hover div.control_button span{
/*	z-index:1001 */
}

.content_header a.control:hover div.control_button div.l{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.content_header a.control:hover div.control_button div.t{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.content_header a.control:hover div.control_button div.r{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.content_header a.control:hover div.control_button div.b{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

.content_header a.control:hover div.control_button div.il{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.it{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.ir{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.ib{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;

}


.content_header a.control:hover div.control_button div.lt{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.00;
	opacity: 1.00;
}

.content_header a.control:hover div.control_button div.rt{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.00;
	opacity: 1.00;
}

.content_header a.control:hover div.control_button div.lb{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.00;
	opacity: 1.00;
}

.content_header a.control:hover div.control_button div.rb{
	filter: alpha(opacity = 100);
	-moz-opacity: 1.00;
	opacity: 1.00;
}


.content_header a.control:hover div.control_button div.ilt{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.irt{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.ilb{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.irb{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.bg{
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.content_header a.control:hover div.control_button div.label{
}






/*-- footer --*/

.content_footer{
	border-left:solid 1px #999;
	border-top:solid 0px #999;
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
	background-image:url('../img/bg_content_footer.png');
	height:23px;
	overflow:hidden;
	padding-left:5px;
	padding-right:5px;
}


.content_footer div.paging_link{
	margin-top:3px;
	margin-left:3px;
	padding-left:4px;
	padding-right:4px;
	height:15px;
	min-width:7px;
	border:solid 1px #777;
	background-image:url('../img/paging/paging.png');
	line-height:16px;
	text-align:center;
	float:left;
	cursor:pointer;
}

.content_footer div.paging_link_current{
	margin-top:3px;
	margin-left:3px;
	padding-left:4px;
	padding-right:4px;
	height:15px;
	min-width:7px;
	border:solid 1px #777;
	background-image:url('../img/paging/paging_current.png');
	line-height:16px;
	text-align:center;
	float:left;
	cursor:pointer;
}

.content_footer div.paging_link_hover{
	background-color:#fff;
}

.content_footer div.paging_guide{
	float:right;
	height:17px;
	line-height:17px;
	margin-top:3px;
	margin-right:3px;
}

/*-- contents-protect --*/
.content_protection{
	position:absolute;
	top:0px;
	left:0px;
	background-image:url('../img/blank.png');
	z-index:2200;
	display:none;
	background-color:#fff;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

input.content_tab_stop{
	display:none;
	border:none;
	width:1px;
	height:1px;
	border:none;
	padding:0px;
	background-color:transparent;
	position:absolute;
}

.content_protection_loading{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:2201;
	border:solid 1px #999;
}

.content_protection_message{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:2202;
	border:solid 1px #333;
	padding:16px;
	background-color:#fafafa;
/*	font-weight:bold; */
}

.content_protection_message_shadow{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:2201;
	padding:16px;
	background-color:#333;
}


.content_body{
	border:solid 1px #999;
	background-color:#fff;
	overflow:auto;
}


/*-- conotents-base --*/
.r3base{
	display:none;
}

/*-- conotents-menu --*/
.r3menu{
	border:solid 1px #6081aa;
	background-color:#0f2035;
	display:none;
}


a.r3menu_icon{}

a.r3menu_icon .frame {
	position:relative;
}

a.r3menu_icon .l {
	position:absolute;
	width:1px;
	top:1px;
	left:0px;
	background-color:#081422;
}

a.r3menu_icon .t {
	position:absolute;
	height:1px;
	top:0px;
	left:1px;
	background-color:#081422;
}

a.r3menu_icon .r {
	position:absolute;
	width:1px;
	top:1px;
	background-color:#081422;
}

a.r3menu_icon .b {
	position:absolute;
	height:1px;
	left:1px;
	background-color:#081422;
}

a.r3menu_icon .il {
	width:1px;
	position:absolute;
	top:2px;
	left:1px;
	background-color:#fff;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .it {
	position:absolute;
	height:1px;
	top:1px;
	left:2px;
	background-color:#fff;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .ir {
	position:absolute;
	width:1px;
	top:2px;
	background-color:#fff;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .ib {
	position:absolute;
	height:1px;
	left:2px;
	background-color:#fff;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .lt {
	position:absolute;
	width:1px;
	height:1px;
	top:1px;
	left:1px;
	background-color:#081422;
}

a.r3menu_icon .rt {
	position:absolute;
	width:1px;
	height:1px;
	top:1px;
	background-color:#081422;
}

a.r3menu_icon .lb {
	position:absolute;
	width:1px;
	height:1px;
	left:1px;
	background-color:#081422;
}

a.r3menu_icon .rb {
	position:absolute;
	width:1;
	height:1px;
	background-color:#081422;
}

a.r3menu_icon .ilt {
	position:absolute;
	width:1px;
	height:1px;
	top:2px;
	left:2px;
	background-color:#aaa;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;

}

a.r3menu_icon .irt {
	position:absolute;
	width:1px;
	height:1px;
	top:2px;
	background-color:#aaa;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .ilb {
	position:absolute;
	width:1px;
	height:1px;
	left:2px;
	background-color:#aaa;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .irb {
	position:absolute;
	width:1px;
	height:1px;
	background-color:#aaa;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

a.r3menu_icon .title {
	position:absolute;
	color:black;
}

a.r3menu_icon .bg {
	position:absolute;
	top:1px;
	left:1px;
	background-image:url('../img/bg_item.png');
}

a.r3menu_icon .bg {
	position:absolute;
	top:1px;
	left:1px;
	background-image:url('../img/bg_item.png');
}

a:hover.r3menu_icon .bg {
	background-image:url('../img/bg_item_hover.png');
}

/*-- conotents-grid --*/
.r3grid{
	display:none;
	border:solid 1px #999;
	background-color:#fafafa;
}


div.table{
	border-bottom:solid 1px #999;
	margin-bottom:20px;
}

div.table a{
	color:#000;
}


div.table div.tr{
	overflow:auto;
}


div.table div.tr div.th{
	border-right:solid 1px #999;
	border-bottom:solid 1px #999;
	float:left;
	height:20px;
	background-color:#E9EDF7;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	overflow:hidden;
	white-space:nowrap;
	text-align:center;
	background-image:url('../img/header_label.png');
	background-position:center center;
}

div.table div.tr div.th table{
	margin-left:auto;
	margin-right:auto;
}

div.table div.tr div.th table td{
	vertical-align:top;
}

div.table div.tr div.th .handle_right{
	position:absolute;
	width:5px;
	height:18px;
	float:right;
	cursor:col-resize;
	background-color:#fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}


div.table div.tr div.tk .handle_bottom{
	position:absolute;
	cursor:row-resize;
	background-color:#fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}

div.table div.odd{
}

div.table div.even{
}

div.table div.tr div.td{
	border-right:solid 1px #999;
	float:left;
	height:18px;
	background-color:#fff;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	overflow:hidden;
	white-space:nowrap;
	text-align:left;
}


div.table div.odd div.td{
}

div.table div.even div.td{
	background-color:#efeffb;
}


div.table div.tr div.tk{
	border-right:solid 1px #999;
	float:left;
	height:18px;
	background-color:#ddd;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	overflow:hidden;
	white-space:nowrap;
	text-align:center;
}


div.table div.odd div.tk{
}

div.table div.even div.tk{
	background-color:#ccc;
}


div.table div.hover div.td{
	background-image:url('../img/bg_grid_hover_line.png');
}


div.table div.hover div.tk{
	background-image:url('../img/bg_grid_hover_line.png');
}


div.table div.selected div.td{
	background-image:url('../img/bg_grid_hover_line.png');
}


div.table div.selected div.tk{
	background-image:url('../img/bg_grid_hover_line.png');
}


.r3grid_header{
	position:absolute;
	top:1px;
	left:1px;
	height:23px;
	overflow:hidden;
	z-index:1000;
}

.r3grid_index{
	position:absolute;
	top:1px;
	left:1px;
	width:25px;
	height:100px;
	overflow:hidden;
	z-index:1000;
}

.r3grid_fixed{
	position:absolute;
	top:1px;
	left:1px;
	width:25px;
	height:23px;
	overflow:hidden;
	z-index:1001;
}


/*-- conotents-form --*/
.r3form{
	background-color:#fafafa;
	display:none;
}

.r3form table.form_table{}

.r3form table.form_table tr{}

.r3form table.form_table th{
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	line-height:14px;
	text-align:left;
	font-weight:normal;
	background-color:#E9EDF7;
	border-bottom:solid 1px #999;
	border-right:solid 1px #999;
	background-image:url('../img/header_label.png');
	background-position:center center;
	background-repeat:repeat-x;
}

.r3form table.form_table th p{
	padding-bottom:5px;
}

.r3form table.form_table td{
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	line-height:14px;
	text-align:left;
	font-weight:normal;
	border-bottom:solid 1px #999;
	border-right:solid 1px #999;
	background-color:#fff;
}

.r3form table.form_table td div.pluralbox{
	border:solid 1px #999;
	padding:5px;
}

.r3form table.form_table td div.boxdelete{
	cursor:pointer;color:#555;
	border:solid 1px #999;
	background-color:#eee;
	float:right;
	width:15px;
	height:15px;
	text-align:
	center;line-height:15px;
}

.r3form table.form_table td div.pluralboxnext{
	margin-top:5px;
	display:none;
}

.r3form table.form_table td p.pluralhandle{
	margin-top:5px;
}

.r3form table.form_table th.selected{
	background-image:url('../img/bg_form_hover_th.png');
}

.r3form table.form_table td.selected{
	background-image:url('../img/bg_form_hover_td.png');
}

.r3form table.form_table td p{
	padding-bottom:5px;
}

.r3form table.form_table td.example{
	background-color:#f9f9f9;
}

.r3form table.form_table td input[type="text"]{}

.r3form table.form_table td input[type="password"]{}

.r3form table.form_table td input[type="file"]{}

.r3form table.form_table td input[type="textarea"]{}

.r3form table.form_table td input[type="select"]{}

.r3form table.form_table td textarea{}

.r3form table.form_table td select{}

.r3form table.form_table td input[type="checkbox"]{
	margin-right:5px;
}

.r3form table.form_table td input[type="radio"]{
	margin-right:5px;
}

.r3form table.form_table td label{
	padding-right:8px;
	display:block;
	float:left;
}


.r3form table.form_table td message{
	color:#00f;
	text-decoration:underline;
}

.r3form table.form_table td a.add_field{
	color:#00f;
	text-decoration:underline;
}

.r3form table.form_table td a.add_field:link{
	color:#00f;
	text-decoration:underline;
}

.r3form table.form_table td a.add_field:visited{
	color:#00f;
	text-decoration:underline;
}

.r3form table.form_table td a.add_field:hover{
	color:#00f;
	text-decoration:underline;
}

.r3form table.form_table td a.add_field:active{
	color:#00f;
	text-decoration:underline;
}

.r3form span.r3form_message p{
	color:red;
	font-weight:bold;
}


.r3form table.form_table div.sub_window_control{
	
}

.r3form table.form_table div.sub_window_control div.input{
	float:left;
}

.r3form table.form_table div.sub_window_control div.button{
	float:left;margin-left:7px;
	margin-top:4px;
	cursor:pointer;
}
/*-- conotents-form --*/

/*-- conotents-width-graph --*/
.r3wbgraph{
	background-color:#dfdfff;
	display:none;
}

.r3wbgraph div.graph_frame{
	padding:10px;
	overflow:hidden;
}

.r3wbgraph table.graph_table{
	table-layout:fixed;
}

.r3wbgraph table.graph_table td{
}

.r3wbgraph table.graph_table td.marker{
	border-right:solid 1px black;
}

.r3wbgraph table.graph_table td.space_bar_label{
	padding-right:2px;
}

.r3wbgraph table.graph_table td.y_label{
	width:20px;
	text-align:center;
}

.r3wbgraph table.graph_table td.space_bar{
	vertical-align:top;
	padding:0px;
}

.r3wbgraph table.graph_table td.bar_label{
	padding:0px;
	padding-right:2px;
	overflow:hidden;
	text-align:right;
}

.r3wbgraph table.graph_table td.bar{
	vertical-align:top;
	padding:0px;
}
.r3wbgraph table.graph_table td.bar div.bar_pos{
	position:relative
}

.r3wbgraph table.graph_table td.bar div.bar_pos div.bar{
	position:absolute;
}

.r3wbgraph div.foot_frame{
	overflow:hidden;
}

.r3wbgraph div.foot_frame div.foot_pos{
	position:relative;
}

.r3wbgraph div.foot_frame div.foot_pos div.box{
	position:absolute;
	text-align:center;
}
/*-- conotents-width-graph --*/


/*-- conotents-image --*/
.r3image{
	display:none;
	border:solid 1px #999;
	background-color:#fafafa;
}
/*-- conotents-image --*/


table.sub_window_search{
	border-top:solid 1px #999;
	border-left:solid 1px #999;
	table-layout: fixed;
}

table.sub_window_search th{
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	border-bottom:solid 1px #999;
	border-right:solid 1px #999;
	background-color:#99f;
	background-image:url('../img/header_label.png');
	background-position:center center;
	font-weight:normal;
	table-layout: fixed;
	overflow:hidden;
}

/*-- search sub window --*/
div.sub_window_search_input{
	border:solid 1px #999;
	margin-bottom:5px;
	padding:5px;overflow:auto;
	float:left;
}

div.sub_window_search_exec{
	width:26px;
	border:solid 1px #3399FF;
	float:left;
	margin-left:2px;
/*	background-color:#1e3552; */
	background-color:#777;
	cursor:pointer;
	text-align:center;
	background-image:url('../img/button/button1.png');
	background-position:center center;
}



div.sub_window_search_exec_over{
	background-color:#999;
	background-image:url('../img/button/button1_hover.png');
	border-top:solid 1px #73c9FF;
	border-left:solid 1px #73c9FF;
	border-bottom:solid 1px #6399AF;
	border-right:solid 1px #6399AF;
}

div.sub_window_search_exec_over{
	background-color:#999;
	background-image:url('../img/button/button1_click.png');
	border-top:solid 1px #73c9FF;
	border-left:solid 1px #73c9FF;
	border-bottom:solid 1px #6399AF;
	border-right:solid 1px #6399AF;
}


div.sub_window_search_exec input{
	margin-left:auto;margin-right:auto;
}

sub_window_search_exec_over
div.sub_window_search_input table{
	border:none;
}

div.sub_window_search_input table th{
	text-align:left;
	font-weight:normal;
}


table.sub_window_search td{
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	border-bottom:solid 1px #999;
	border-right:solid 1px #999;
	background-color:#fff;
	table-layout: fixed;  
	overflow:hidden;
}


div.sub_window_search{
	border:solid 1px #999;
	border-top:solid 0px #999;
	overflow:auto;
}

div.sub_window_search table{
	border-left:none;
	border-right:none;
	border-top:none;
	table-layout: fixed;
}

div.sub_window_search table td{
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
	padding-bottom:1px;
	border-bottom:solid 1px #999;
	border-right:solid 1px #999;
	background-color:#fff;
	table-layout: fixed;  
	overflow:hidden;
}


div.sub_window_search table td.odd{
}

div.sub_window_search table td.even{
	background-color:#e1e1ff;
}
div.sub_window_search table td.end{
	border-right:none;
}

div.sub_window_search table td.select{
	text-align:center;
	vertical-align: middle;
}

div.sub_window_search table td.hover{
	background-image:url('../img/bg_grid_hover_line.png');
}

div.sub_window_search table td.select img{
	vertical-align: middle;
	cursor:pointer;
}

div.sub_window_search_control{
	text-align:center;
}

div.sub_window_search_control input{
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

div.sub_window_search_page{
	overflow:auto;
}
div.sub_window_search_page span{
	margin-right:7px;
	display:block;
	float:left;
	min-width:10px;
}

div.sub_window_search_page span a{
	color:#00f;
}

