@charset "utf-8";

/*-- conotents-ganttchart --*/
.r3ganttchart{
	background-color:#dfdfff;
	display:none;
}


.r3ganttchart table.ganttchart_table{
	table-layout:fixed;
	overflow:hidden;
}


.r3ganttchart table.ganttchart_table td{
	border-right:solid 1px #6081aa;
	border-bottom:solid 1px #6081aa;
	background-color:#fff;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
/*
	table-layout:fixed;
	overflow:hidden;
*/
}

.r3ganttchart table .head{
	background-image:url('../img/header_label.png');
	background-position:center center;
}

.r3ganttchart table.ganttchart_table td div.floating_pos{
	position:relative;
}

.r3ganttchart table.ganttchart_table td div.floating_pos div.left{
	position:absolute;	
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	background-color:#ddd;
/*
	border-bottom:solid 1px #6081aa;
	border-right:solid 1px #6081aa;
*/
	z-index:1000;

	}

.r3ganttchart table.ganttchart_table td div.floating_pos div.top{
	position:absolute;	
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	background-color:#ccc;
/*
	border-bottom:solid 1px #6081aa;
	border-right:solid 1px #6081aa;
*/
	z-index:1001;
}

.r3ganttchart table.ganttchart_table td div.floating_pos div.fix{
	position:absolute;	
	top:0px;
	left:0px;
	width:10px;
	height:10px;
	background-color:#fff;
	border-bottom:solid 1px #6081aa;
	border-right:solid 1px #6081aa;
	z-index:1002;
	text-align:left;
}
.r3ganttchart table.ganttchart_table td div.floating_pos div.fix div{
	float:left;
	width:80px;
	margin-top:6px;
}
.r3ganttchart table.ganttchart_table td div.floating_pos div.fix p{
	font-size:10px;
	margin-left:17px;
	margin-top:1px;
}




.r3ganttchart table.ganttchart_table td div.left_label_charge_code{
	height:100%;
	padding:0px;
	float:left;
	border-right:solid 1px #6081aa;
	padding-left:2px;
	overflow:hidden;
}

.r3ganttchart table.ganttchart_table td div.left_label_task_title{
	height:100%;
	padding:0px;
	float:left;
	text-align:left;
	padding-left:2px;
	overflow:hidden;
}




.r3ganttchart table.ganttchart_table td.day_box{
	vertical-align: top;
	padding:0px;
}

.r3ganttchart table.ganttchart_table td.day_box_under{
	border-bottom:solid 0px #fff;
}

.r3ganttchart table.ganttchart_table td.sunday{
	background-color:#fcc;
}

.r3ganttchart table.ganttchart_table td.sunday_under{
	border-bottom:solid 0px #fcc;
}

.r3ganttchart table.ganttchart_table td.saturday{
	background-color:#ccf;
}

.r3ganttchart table.ganttchart_table td.saturday_under{
	border-bottom:solid 0px #ccf;
}

.r3ganttchart table.ganttchart_table td.current_day{
	background-color:#FFED61;
}


.r3ganttchart table.ganttchart_table td.table_end{
	border-bottom:solid 1px #6081aa;
}

.r3ganttchart div.bar_pos{
	position:relative;
}

.r3ganttchart div.bar_pos div.bar{
	position:absolute;
	top:5px;
	height:10px;
	background-color:#66e;
	z-index:888;
}

.r3ganttchart div.bar_pos div.stone{
	position:absolute;
	top:0px;
	height:10px;
	z-index:888;
	text-align:center;
	color:#55c;
}


.r3ganttchart div.bar_pos .canvas{

	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
/*
	background-color:yellow;
	filter: alpha(opacity = 20);
	-moz-opacity: 0.20;
	opacity: 0.20;
*/
}

/*-- conotents-ganttchart --*/
