@charset "utf-8";

div.rate_picker_pos{
	position:relative;
}

div.rate_picker_pos div.rate_frame{
	position:absolute;
	display:none;
}

div.rate_picker_pos div.rate_frame div.rate_top{
	width:108px;
	height:7px;
	background-image:url('../img/rate.picker/bg_top.png');
}


div.rate_picker_pos div.rate_frame div.rate_body{
	padding-left:8px;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url('../img/rate.picker/bg.png');
}

div.rate_picker_pos div.rate_frame div.rate_bottom{
	width:108px;
	height:7px;
	background-image:url('../img/rate.picker/bg_bottom.png');
}

div.rate_picker_pos div.rate_frame div.rate_rate{
	width:92px;
	height:80px;
	overflow:auto;
}

div.rate_picker_pos div.rate_frame a{
	color:#000;
}

div.rate_picker_pos div.rate_frame div.box{
	width:36px;
	height:22px;
	line-height:22px;
	border-bottom:solid 0px #6583A8;
	border-right:solid 0px #6583A8;
	float:left;
	text-align:center;
	font-size:10px;
	color:#000;
}

div.rate_picker_pos div.rate_frame div.box_sel{
	background-image:url('../img/rate.picker/day_box_bk.png');
}

div.rate_picker_pos div.rate_frame a:hover div.box_sel{
	background-image:url('../img/rate.picker/day_box_hover_bk.png');
}

div.rate_picker_pos div.rate_frame div.box_selected{
	background-image:url('../img/rate.picker/day_box_selected_bk.png');
}

div.rate_picker_pos div.rate_frame a:hover div.box_selected{
	background-image:url('../img/rate.picker/day_box_selected_hover_bk.png');
}


