@charset "utf-8";

div.time_picker_pos{
	position:relative;
}

div.time_picker_pos div.time_frame{
	position:absolute;
	display:none;
}

div.time_picker_pos div.time_frame div.time_top{
	width:263px;
	height:7px;
	background-image:url('../img/time.picker/bg_top.png');
}


div.time_picker_pos div.time_frame div.time_body{
	padding-left:8px;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
	background-image:url('../img/time.picker/bg.png');
}

div.time_picker_pos div.time_frame div.time_bottom{
	width:263px;
	height:7px;
	background-image:url('../img/time.picker/bg_bottom.png');
}

div.time_picker_pos div.time_frame div.time_body table{
	margin:0px;
	padding:0px;
	background-color:transparent;
	border:none;
}

div.time_picker_pos div.time_frame div.time_body table td{
	margin:0px;
	padding:0px;
	background-color:transparent;
	border:none;
}

/*--*/

div.time_picker_pos div.time_frame div.time_mins{
	width:78px;
	overflow:auto;
}

/*--*/

div.time_picker_pos div.time_frame div.time_hours{
	width:156px;
	overflow:auto;
}

div.time_picker_pos div.time_frame a{
	color:#000;
}

div.time_picker_pos div.time_frame div.box{
	width:26px;
	height:22px;
	line-height:22px;
	border-bottom:solid 0px #6583A8;
	border-right:solid 0px #6583A8;
	float:left;
	text-align:center;
	font-size:10px;
	color:#000;

}

div.time_picker_pos div.time_frame div.box_sel{
	background-image:url('../img/time.picker/day_box_bk.png');
}

div.time_picker_pos div.time_frame a:hover div.box_sel{
	background-image:url('../img/time.picker/day_box_hover_bk.png');
}

div.time_picker_pos div.time_frame div.box_sel_selected{
	background-image:url('../img/time.picker/day_box_hover_bk.png');
}

div.time_picker_pos div.time_frame div.box_current{
	background-image:url('../img/time.picker/day_box_current_bk.png');
}

div.time_picker_pos div.time_frame a:hover div.box_current{
	background-image:url('../img/time.picker/day_box_current_hover_bk.png');
}

div.time_picker_pos div.time_frame div.box_current_selected{
	background-image:url('../img/time.picker/day_box_current_hover_bk.png');
}

div.time_picker_pos div.time_frame div.box_selected{
	background-image:url('../img/time.picker/day_box_selected_bk.png');
}

div.time_picker_pos div.time_frame a:hover div.box_selected{
	background-image:url('../img/time.picker/day_box_selected_hover_bk.png');
}

div.time_picker_pos div.time_frame div.box_selected_selected{
	background-image:url('../img/time.picker/day_box_selected_hover_bk.png');
}

