@charset "utf-8";

a.user_menu_link{
	font-size:12px;
	text-decoration:none;
	color:#fff;	
}

a.user_menu_link div{
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
}

a.user_menu_link:hover div{
/*	background-image:url('../img/bg_item_hover.png'); */
	background-color:#ddd;
	color:#000;
}

