<?xml version="1.0" encoding="UTF-8"?>
<rainy3 type="response">
<head>
<result><%= Codes::RAINY3_RESULT_CODE_CERT_ERROR.value %></result>
<title></title>
<message></message>
<forward><%= login_index_path%></forward>
<data_type>form</data_type>
</head>
<body>
</body>
</rainy3>
