<!DOCTYPE html>
<html>
<head>
	<title>Bois - <%= yield :title %> - </title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Rainy3</title>
	<link rel="stylesheet" type="text/css" href="css/rainy3.css" />
	<link rel="stylesheet" type="text/css" href="css/user.menu.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.powertip.css" />
	<link rel="stylesheet" type="text/css" href="css/date.picker.css" />
	<link rel="stylesheet" type="text/css" href="css/time.picker.css" />
	<link rel="stylesheet" type="text/css" href="css/monthly.picker.css" />
	<link rel="stylesheet" type="text/css" href="css/hours.picker.css" />
	<link rel="stylesheet" type="text/css" href="css/rate.picker.css" />

	<script type="text/javascript" src="js/jquery-1.7.2.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/app.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/rainy3.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/user.menu.js"></script>
	<script type="text/javascript" src="js/jquery.powertip.js"></script>
	<script type="text/javascript" src="js/printf.js"></script>
	<script type="text/javascript" src="js/date.picker.js"></script>
	<script type="text/javascript" src="js/time.picker.js"></script>
	<script type="text/javascript" src="js/monthly.picker.js"></script>
	<script type="text/javascript" src="js/hours.picker.js"></script>
	<script type="text/javascript" src="js/rate.picker.js"></script>

	<%= yield :head %>

	<!--[if IE]>
	<script type="text/javascript">rainy3.ie=true;</script>
	<![endif]-->
	<script type="text/javascript">
	userMenu.logoutUrl='<%= do_logout_path %>';
	userMenu.accountUrl='<%= account_index_path %>';
	userMenu.passwordUrl='<%= password_index_path %>';

	$(function(){
		// Release of screen protection 
		rainy3.releaseLoading();
		// Set Resize Event Function
		rainy3.setResizeFunction(function(){
			datePicker.hide();
			timePicker.hide();
			monthlyPicker.hide();
			hoursPicker.hide();
			ratePicker.hide();
	  });
		// Set Zoom
  });

  <%= yield :script %>

  </script>

</head>
<body> 

<%= yield %>

</body>
</html>
