<% content_for :title do %>ログイン<% end %>

<% content_for :head do %>
<link rel="stylesheet" type="text/css" href="css/login.css" />
<script type="text/javascript" src="js/login.js" charset="utf-8"></script>
<% end %>

<% content_for :script do %>
	rainy3.windowSize(900, 550);
	login.loginUrl="<%= do_login_path %>";
	$(function(){
		rainy3.setButtonAction('login_button');
	});
<% end %>


<div class="overlay_base_position">

<%= render 'common/pre_load_image' %>

<div id="display_protection"></div>
<img src="img/loading.gif" id="display_loading"/>
<div id="x_contents_resize_border"></div>
<div id="y_contents_resize_border"></div>
<div id="message_window"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="title"></div><div class="message"></div><div class="control"><input type="button" value="OK" class="control_ok" id="message_window_ok"><input type="button" value="CANCEL" class="control_cancel" id="message_window_cancel"></div></div>
<div id="submenu" class="submenu"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="contents"></div></div>
<div><!-- .display_protection -->


<div id="header" class="frame_width">
<!-- overlayで背後にfocusが回らないようにする入力エリア -->
<div class="tab_stop_box"><input type="text" name="tab_stop_1" class="tab_stop"></div>

</div><!-- #header -->
<div class="contents_y_space"></div>
<div id="contents">
<!-- コンテンツの折り返しを抑止するために、左右20pxずつのマージンを確保する -->
<!-- 左margine:20px, 幅：.frame_width-40px; -->

<div id="content1" class="x_content" style="width:10px;">
<div id="content1_1" class="y_content" style="height:10px;">

<form action="#" method="post" onsubmit="login.doLogin(this);return false;">
<input type="hidden" name="path" value="<%= request.path_info %>">

<div class="login_box">
<div class="logo"><img src="img/logo_large.png"></div>

<div class="message"><%= @message %></div>
<div class="input">
<div class="label"><img src="img/login/id_text.png"></div>
<div class="field" ><input autocomplete="off" type="text" name="login_id"></div>
</div>
<div class="input">
<div class="label"><img src="img/login/pass_text.png"></div>
<div class="field" ><input autocomplete="off" type="password" name="passwd"></div>
</div>

<div class="auto_login">
<table cellspacing="0" cellpadding="0" border="0" width="100%;">
<tr>
<td align="right" class="check"><input type="checkbox" name="auto_login" id="auto_login_check"></td><td align="left" class="label"><label for="auto_login_check">自動ログインを有効にする</label></td>
</tr>
</table>
</div>
<div class="control"><input type="submit" value="Login" id="login_button"></div>
<div class="blank"></div>
<div class="copyright">© 2008-<%= Date.today.year %> SmartSoftware Co.,Ltd.</div>
</div>
</form>

</div>
</div>

</div><!-- #contents -->
<div class="contents_y_space"></div>
<div id="footer" class="frame_width">
<!-- overlayで背後にfocusが回らないようにする入力エリア -->
<div class="tab_stop_box"><input type="text" name="tab_stop_2" class="tab_stop"></div>
</div><!-- #footer -->
