<div class="setting_information" style="margin-top:15px;">
<div class="setting_label"><%
	se = SessionUtils.new(session)
%><%= se.getLoginUserName %>　さん</div>
<a href="javascript:void(0);" id="setting_control" onclick="userMenu.click()"><div class="setting_icon"></div></a>
</div>