<div id="global_menu" class="r3menu">
<% '配列の末尾には必ずnullを設定すること' %>
var menu =
[
<% if permit_functions(Codes::FUNCTION_CODE_DAILIES) %>
 { /*-- 作業実績--*/
   id:"menu_dailies",
   icon:"img/icon/dailies.png",
   label:"作業実績",
   size:"45",
   link:"<%= dailies_index_path %>",
   popup:null,
   click:null,
   submenu:false,
   submenuList:null,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_dailies.png"
 },
<% end %>
<% if permit_functions(Codes::FUNCTION_CODE_DASHBOARDS) %>
 { /*-- ダッシュボード --*/
   id:"menu_dashboards",
   icon:"img/icon/dashboards.png",
   label:"ダッシュボード",
   size:"45",
   link:"<%= dashboard_index_path %>",
   popup:null,
   click:null,
   submenu:false,
   submenuList:null,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_dashboards.png"
 },
<% end %>
<% if permit_functions(Codes::FUNCTION_CODE_COSTS) %>
 { /*-- 経費精算 --*/
   id:"menu_costs",
   icon:"img/icon/costs.png",
   label:"経費精算",
   size:"45",
   link:"<%= costs_index_path %>",
   popup:null,
   click:null,
   submenu:false,
   submenuList:null,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_costs.png"
 },
<% end %>
<% if permit_functions(Codes::FUNCTION_CODE_RESULTS) %>
 { /*-- 月次作業集計 --*/
   id:"menu_results",
   icon:"img/icon/results.png",
   label:"月次作業集計",
   size:"45",
   link:"<%= aggregates_index_path %>",
   popup:null,
   click:null,
   submenu:false,
   submenuList:null,
   label_size:12,
   label_left:0,
   label_top:-41,
  label_image:"/img/side_menu/menu_results.png"
 },
<% end %>
<% if permit_functions(Codes::FUNCTION_CODE_CUSTOMERS, Codes::FUNCTION_CODE_MATTERS, Codes::FUNCTION_CODE_ESTIMATES, Codes::FUNCTION_CODE_ORDERS, Codes::FUNCTION_CODE_BILLS) %>
 { /*-- 契約情報管理 --*/
   id:"menu_agreements",
   icon:"img/icon/agreements.png",
   label:"契約情報",
   size:"45",
   link:null,
   click:null,
   submenu:true,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_agreements.png",
   submenuList:[
									<% if permit_functions(Codes::FUNCTION_CODE_CUSTOMERS) %>
                 {
                  id:"menu_customers",
                  icon:"img/icon/customers.png",
                  label:"顧客管理",
                  size:"45",
                  link:"<%= customers_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_customers.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_MATTERS) %>
                 {
                  id:"menu_matters",
                  icon:"img/icon/matters.png",
                  label:"案件管理",
                  size:"45",
                  link:"<%= matters_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_matters.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_ESTIMATES) %>
                 {
                  id:"menu_estimates",
                  icon:"img/icon/estimates.png",
                  label:"見積管理",
                  size:"45",
                  link:"<%= estimates_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_estimates.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_ORDERS) %>
                 {
                  id:"menu_orders",
                  icon:"img/icon/orders.png",
                  label:"受注管理",
                  size:"45",
                  link:"<%= orders_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_orders.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_BILLS) %>
                 {
                  id:"menu_bills",
                  icon:"img/icon/bills.png",
                  label:"請求管理",
                  size:"45",
                  link:"<%= payments_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_bills.png"
                 },
									<% end %>
									null
               ]
 },
<% end %>

<% if permit_functions(Codes::FUNCTION_CODE_TASKS, Codes::FUNCTION_CODE_ASSIGNS) %>
 { /*-- 進行状況管理 --*/
   id:"menu_progresses",
   icon:"img/icon/progresses.png",
   label:"リソース",
   size:"45",
   link:null,
   click:null,
   submenu:true,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_progresses.png",
   submenuList:[
									<% if permit_functions(Codes::FUNCTION_CODE_TASKS) %>
                 {
                  id:"menu_tasks",
                  icon:"img/icon/tasks.png",
                  label:"タスク管理",
                  size:"45",
                  link:"<%= tasks_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_tasks.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_ASSIGNS) %>
                 {
                  id:"menu_assigns",
                  icon:"img/icon/assigns.png",
                  label:"要員管理",
                  size:"45",
                  link:"<%= assigns_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_assigns.png"
                 },
									<% end %>
									null
               ]
 },
<% end %>
<% if permit_functions(Codes::FUNCTION_CODE_REPORT_MATTERS, Codes::FUNCTION_CODE_REPORT_USERS, Codes::FUNCTION_CODE_GANTT_CAHRT, Codes::FUNCTION_CODE_REPORT_ASSIGN, Codes::FUNCTION_CODE_CURRENT_MATTERS, Codes::FUNCTION_CODE_REPORT_ESTIMATES, Codes::FUNCTION_CODE_REPORT_ORDERS) %>
 { /*-- レポート --*/
   id:"menu_reports",
   icon:"img/icon/reports.png",
   label:"レポート",
   size:"45",
   link:null,
   click:null,
   submenu:true,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_reports.png",
   submenuList:[
									<% if permit_functions(Codes::FUNCTION_CODE_REPORT_MATTERS) %>
                 {
                  id:"menu_matter_reports",
                  icon:"img/icon/warehause.png",
                  label:"案件別実績集計",
                  size:"45",
                  link:"<%= reportmatters_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_matter_reports.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_REPORT_USERS) %>
                 {
                  id:"menu_work_reports",
                  icon:"img/icon/work_reports.png",
                  label:"ユーザー別実績集計 ",
                  size:"45",
                  link:"<%= reportusers_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_work_reports.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_GANTT_CAHRT) %>
                 {
                  id:"menu_ganttchart",
                  icon:"img/icon/ksirtet.png",
                  label:"ガントチャート ",
                  size:"45",
                  link:"<%= ganttchart_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_ganttchart.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_REPORT_ASSIGN) %>
                 {
                  id:"menu_assign_reports",
                  icon:"img/icon/assign_reports.png",
                  label:"アサイン状況 ",
                  size:"45",
                  link:"<%= reportassigns_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_assign_reports.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_CURRENT_MATTERS) %>
                 {
                  id:"menu_current_matters",
                  icon:"img/icon/current_matters.png",
                  label:"稼働中案件情報",
                  size:"45",
                  link:"<%= currentmatters_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_current_matters.png"
                 },
									<% end %>
									<% if permit_functions(Codes::FUNCTION_CODE_REPORT_ESTIMATES) %>
                 {
                  id:"menu_estimate_reports",
                  icon:"img/icon/estimate_reports.png",
                  label:"見積集計",
                  size:"45",
                  link:"<%= reportestimates_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_estimate_reports.png"
                 },
									<% end %>
									null
               ]
 },
<% end %>
<% if permit_functions(Codes::FUNCTION_CODE_USERS, Codes::FUNCTION_CODE_ROLES, Codes::FUNCTION_CODE_WORKPATTERNS, Codes::FUNCTION_CODE_WORKPATTERNS, Codes::FUNCTION_CODE_MAILSERVER, Codes::FUNCTION_CODE_SYSTEMPROP) %>
 { /*-- レポート --*/
   id:"menu_maintenances",
   icon:"img/icon/maintenances.png",
   label:"ﾒﾝﾃﾅﾝｽ",
   size:"45",
   link:null,
   click:null,
   submenu:true,
   label_size:12,
   label_left:0,
   label_top:-41,
   label_image:"/img/side_menu/menu_maintenances.png",
   submenuList:[
   							<% if permit_functions(Codes::FUNCTION_CODE_USERS) %>
                 {
                  id:"menu_users",
                  icon:"img/icon/users.png",
                  label:"ユーザー管理",
                  size:"45",
                  link:"<%= users_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_users.png"
                 },
                 <% end %>
   							<% if permit_functions(Codes::FUNCTION_CODE_ROLES) %>
                 {
                  id:"menu_role",
                  icon:"img/icon/role.png",
                  label:"権限管理",
                  size:"45",
                  link:"<%= roles_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_role.png"
                 },
                 <% end %>
   							<% if permit_functions(Codes::FUNCTION_CODE_WORKPATTERNS) %>
                 {
                  id:"menu_workpatterns",
                  icon:"img/icon/workpatterns.png",
                  label:"勤務形態管理管理",
                  size:"45",
                  link:"<%= workpatterns_index_path %>",
                  click:null,
                  label_size:12,
                  label_left:0,
                  label_top:-41,
                  label_image:"/img/side_menu/menu_workpatterns.png"
                 },
                 <% end %>
                 null
               ]
 },
<% end %>
null
]
</div><!-- #global_menu -->
