<% content_for :title do %>権限がありません<% end %>

<% content_for :head do %>

<% end %>

<% content_for :script do %>
	rainy3.windowSize(900, 550);
	$(function(){
		rainy3.setButtonAction('login_button');
	});
<% end %>


<%= render 'common/pre_load_image' %>

<div id="display_protection"></div>
<img src="img/loading.gif" id="display_loading"/>
<div id="x_contents_resize_border"></div>
<div id="y_contents_resize_border"></div>
<div id="message_window"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="title"></div><div class="message"></div><div class="control"><input type="button" value="OK" class="control_ok" id="message_window_ok"><input type="button" value="CANCEL" class="control_cancel" id="message_window_cancel"></div></div>
<div id="submenu" class="submenu"><div class="lt frame"></div><div class="ll frame"></div><div class="lb frame"></div><div class="tt frame"></div><div class="bb frame"></div><div class="rt frame"></div><div class="rr frame"></div><div class="rb frame"></div><div class="contents"></div></div>
<div><!-- .display_protection -->


<div id="header" class="frame_width">
<!-- overlayで背後にfocusが回らないようにする入力エリア -->
<div class="tab_stop_box"><input type="text" name="tab_stop_1" class="tab_stop"></div>

</div><!-- #header -->
<div class="contents_y_space"></div>
<div id="contents">

<!--
<div style="margin-right:20px;">
<div style="margin-right:auto;margin-left:auto;padding:20px;width:360px;height:auto;border:solid 1px black;background-color:#fff;margin-top:50px;">
<p>権限エラーが発生しました。</p>
現在のユーザーでは指定の画面を利用する権限がありません。お手数ですが、ログイン画面から対象の機能を利用する権限をもつユーザーで再ログインを行ってください。
</div>
</div>
-->

<div id="content1" class="x_content" style="width:10px;">
<div id="content1_1" class="y_content" style="height:10px;">

<div style="margin-right:20px;">
<div style="margin-right:auto;margin-left:auto;padding:20px;padding-left:40px;padding-right:40px;width:400px;height:auto;border:solid 1px #005DB0;background-color:#fff;margin-top:50px;">
<div style="margin-right:auto;margin-left:auto;text-align:center;margin-bottom:10px;font-size:120%;font-weight:bold;"><%= @pageError[:title] %></div>
<%= @pageError[:body] %>

<div style="margin-right:auto;margin-left:auto;text-align:center;margin-top:10px;">
<% if @pageError[:button_login] != nil && @pageError[:button_login] %>
<input id="login_button" type="button" value="ログイン画面へ" onclick="userMenu.logout();">
<% end %>
</div>

</div>
</div>

</div>
</div>


</div><!-- #contents -->
<div class="contents_y_space"></div>
<div id="footer" class="frame_width">
<!-- overlayで背後にfocusが回らないようにする入力エリア -->
<div class="tab_stop_box"><input type="text" name="tab_stop_2" class="tab_stop"></div>
</div><!-- #footer -->
